* text=auto
*.css linguist-vendored
*.scss linguist-vendored
*.js linguist-vendored

.docker/** export-ignore
.git/** export-ignore
assets/** export-ignore
bin/** export-ignore
node_modules/** export-ignore
tests/** export-ignore
src/** export-ignore
public/*.html export-ignore

.DS_Store export-ignore
.env export-ignore
.babelrc export-ignore
.editorconfig export-ignore
.eslintignore export-ignore
.eslintrc.js export-ignore
.gitignore export-ignore
.gitkeep export-ignore
.gitattributes export-ignore
.*.cache export-ignore
.python-version export-ignore
.scrutinizer.yml export-ignore
.stylelintrc export-ignore
.travis.yml export-ignore
.vuebeautifyrc export-ignore
*.config.js export-ignore
*.gif export-ignore
*.js export-ignore
*.json export-ignore
*.lock export-ignore
*.sh export-ignore
*.zip export-ignore
.*.php export-ignore
index.html export-ignore
LICENSE.md export-ignore
package-lock.json export-ignore
phpcs.xml export-ignore
phpcs.xml.dist export-ignore
phpunit.xml export-ignore
phpunit.xml.dist export-ignore
CHANGELOG.md export-ignore
README.md export-ignore
webpack.mix.js export-ignore
yarn.lock export-ignore
vue-wp-plugin-starter.php export-ignore

**/*(.gitkeep) export-ignore
**/*(.DS_Store) export-ignore
